<div><%= !!htmlWebpackPlugin.files.entrypoints._runtime %></div>

<% for (var scriptUrl of htmlWebpackPlugin.files.entrypoints.one.js) { %>
<script src="<%= scriptUrl %>"></script>
<% } %>
<% for (var stylesheetUrl of htmlWebpackPlugin.files.entrypoints.one.css) { %>
<script src="<%= stylesheetUrl %>"></script>
<% } %>

<% for (var scriptUrl of htmlWebpackPlugin.files.entrypoints.two.js) { %>
<script src="<%= scriptUrl %>"></script>
<% } %>
<% for (var stylesheetUrl of htmlWebpackPlugin.files.entrypoints.two.css) { %>
<script src="<%= stylesheetUrl %>"></script>
<% } %>

<% for (var scriptUrl of htmlWebpackPlugin.files.entrypoints.three.js) { %>
<script src="<%= scriptUrl %>"></script>
<% } %>
<% for (var stylesheetUrl of htmlWebpackPlugin.files.entrypoints.three.css) { %>
<script src="<%= stylesheetUrl %>"></script>
<% } %>
